$m-color:#25d25e;
$sec-color:#f7f7f7;
$color-1:#333333;
$color-2:#777777;
$font-1:'Open Sans', sans-serif;
$font-2:'Open Sans Condensed', sans-serif;

@import 'home';
@import 'about';
@import 'services';
@import 'contact';

